<div class="container">
                         <h2 class="featured-title">Shop By Brand</h2>
                         <div class="row top-three-brands clearfix">
                            <div class="row top-three-brands clearfix">
                              <div class="col-xs-4">
                                 
                                        <sly data-sly-resource="${'featuredbrand1' @ resourceType='frontierwholesales/components/content/shopbybrand/brandimage'}" data-sly-unwrap></sly> 
                              </div>
                              <div class="col-xs-4">
                                
								 <sly data-sly-resource="${'featuredbrand2' @ resourceType='frontierwholesales/components/content/shopbybrand/brandimage'}" data-sly-unwrap></sly>
                              </div>
                              <div class="col-xs-4">
                                 
 <sly data-sly-resource="${'featuredbrand3' @ resourceType='frontierwholesales/components/content/shopbybrand/brandimage'}" data-sly-unwrap></sly>
                              </div>
                         </div>
                         </div>
                         <div class="row brands-letter-filter">
                              <div class="content-page-glossary-header">
                                   <ul id="glossary-filter-list">
                                        <li><a data-scrolltoid="start-of-a" href="#">A</a></li>
                                        <li><a data-scrolltoid="start-of-b" href="#">B</a></li>
                                        <li><a data-scrolltoid="start-of-c" href="#">C</a></li>
                                        <li><a data-scrolltoid="start-of-d" href="#">D</a></li>
                                   </ul>
                              </div>
                         </div>
                         <div class="row additional-brands clearfix">
                              <div class="col-md-12">
                                   <div class="row row-each-brand-filter clearfix">
                                        <div class="col-xs-12">
                                             <h2 class="shop-brand-letter" id="start-of-a">A</h2>
                                        </div>
                                        <div class="col-xs-12">
                                             <ul class="brand-list">
                                                  <li><a href="#">Accessories</a></li>
                                                  <li><a href="#">Acorelle</a></li>
                                                  <li><a href="#">Air Scense</a></li>
                                                  <li><a href="#">Alacer</a></li>
                                                  <li><a href="#">Alba Botanica</a></li>
                                                  <li><a href="#">All Terrain</a></li>
                                                  <li><a href="#">Aloha Bay</a></li>
                                                  <li><a href="#">Alter Eco</a></li>
                                                  <li><a href="#">Ambassador Hairbrushes</a></li>
                                                  <li><a href="#">American Health</a></li>
                                                  <li><a href="#">American Provenance</a></li>
                                                  <li><a href="#">Ancient Secrets</a></li>
                                                  <li><a href="#">Andalou Naturals</a></li>
                                                  <li><a href="#">Ark Naturals</a></li>
                                                  <li><a href="#">Arkopharma</a></li>
                                                  <li><a href="#">Aroma Naturals</a></li>
                                                  <li><a href="#">Aromatherapy Accessories</a></li>
                                                  <li><a href="#">Aura Cacia</a></li>
                                                  <li><a href="#">Auromere</a></li>
                                                  <li><a href="#">Aurora Henna</a></li>
                                                  <li><a href="#">Auroshikha Incense</a></li>
                                                  <li><a href="#">Avalon Organics</a></li>
                                                  <li><a href="#">Axel Kraft</a></li>
                                             </ul>
                                        </div>
                                   </div>

                                   <div class="row row-each-brand-filter clearfix">
                                        <div class="col-xs-12">
                                             <h2 class="shop-brand-letter" id="start-of-b">B</h2>
                                        </div>
                                        <div class="col-xs-12">
                                             <ul class="brand-list">
                                                  <li><a href="#">Babo Botanicals</a></li>
                                                  <li><a href="#">Bach Flower Remedies</a></li>
                                                  <li><a href="#">Bad Air Sponge</a></li>
                                                  <li><a href="#">Bad Again</a></li>
                                                  <li><a href="#">Bagito</a></li>
                                                  <li><a href="#">Baudelaire</a></li>
                                                  <li><a href="#">Beauty Without Cruelty</a></li>
                                                  <li><a href="#">Bee &amp; Flower Soaps</a></li>
                                                  <li><a href="#">Bellmira</a></li>
                                                  <li><a href="#">Bentology</a></li>
                                                  <li><a href="#">bioAllers</a></li>
                                                  <li><a href="#">Biokleen</a></li>
                                                  <li><a href="#">Babo Botanicals</a></li>
                                                  <li><a href="#">Bach Flower Remedies</a></li>
                                                  <li><a href="#">Bad Air Sponge</a></li>
                                                  <li><a href="#">Bad Again</a></li>
                                                  <li><a href="#">Bagito</a></li>
                                                  <li><a href="#">Baudelaire</a></li>
                                                  <li><a href="#">Beauty Without Cruelty</a></li>
                                                  <li><a href="#">Bee &amp; Flower Soaps</a></li>
                                                  <li><a href="#">Bellmira</a></li>
                                                  <li><a href="#">Bentology</a></li>
                                                  <li><a href="#">bioAllers</a></li>
                                                  <li><a href="#">Biokleen</a></li>
                                             </ul>
                                             
                                        </div>
                                   </div>
                                  
                              </div>
                         </div>
                    </div>