<div id="product-grid" class="match-height">
 {{#items}}
  
  <div class="product-grid-item" >

       {{#ifEquals new_product}}
           <span class="badge badge-new">New</span>
       {{/ifEquals}}
       {{#ifEquals on_sale}}
           <span class="badge badge-sale">Sale</span>
       {{/ifEquals}}
       {{#ifEquals close_out}}
           <span class="badge badge-closeout">Closeout</span>
       {{/ifEquals}}
       <a href="/content/frontierwholesales/en/productdetail.html/{{url}}/{{sku}}" class="grid-item-link">
            <span class="grid-image-holder">
           {{#if imgPath}}
               <img src="{{imgPath}}" alt="Product Name">
           {{else}}
               <img src="/content/dam/FrontierImages/default_product_image.jpg" alt="Product Name">
           {{/if}}
            </span>
            <span class="grid-item-number">
                 Item # <span class="number">{{sku}}</span>
            </span>
            <span class="grid-product-name">
                 {{name}}
            </span>
           {{#if tierprice}} 
           <span class="grid-product-price">
                 <!--<span class="product-sale-price">$5.80</span> -->
                 <!--<span class="product-now-price">Now {{ formattedPrice}}</span>-->
               
               {{#if special_price includeZero=false}}
                  <span class="product-sale-price">{{ formatNumber tierprice style="currency" currency="USD"}}</span> 
                  <span class="product-now-price">Now {{formatNumber special_price style="currency" currency="USD"}}</span>
               {{else}}
                   {{#priceCheck tierprice}}
                       <span class="product-sale-price normal-price">{{ formatNumber ../tierprice style="currency" currency="USD"}}</span>
                   {{/priceCheck}}
               {{/if}}
            </span>
           {{/if}}
       </a>
      <!-- Magento attributes TBD -->
      <!--<div class="grid-alert">
            <div class="alert alert-danger" role="alert"> 
                 <span class="glyphicon glyphicon-exclamation-sign"></span>
                 <strong>Restricted Shipping</strong>
            </div>
       </div>-->
       {{#ifEquals bulk}}
      <div class="grid-alert">
            <div class="alert alert-bulk" role="alert">
                 <span class="glyphicon glyphicon-info-sign"></span>
                 <strong>Buy 5 to save 5%:</strong>
            </div>
       </div>
      {{/ifEquals}}
       {{#if tierprice}}
       {{#priceCheck tierprice}}
      <div class="grid-add-to-cart">
            <div class="qty-holder">
                 <button type="button" class="decrease qty-button qty-down">
                      <span class="decrease-minus">-</span>
                      <span class="visuallyhidden">decrease</span>
                 </button>
                 <input type="text" min="1" max="99" maxlength="2" name="quantity" class="grid-product-qty-input qty-input-field" value="1">
                 <button type="button" class="increase qty-button qty-up">
                      <span class="increase-plus">+</span>
                      <span class="visuallyhidden">increase</span>
                 </button>
            </div>
          <div id="cartMessage-{{../sku}}" class="alert alert-add-to-cart" style="display: none;">Added to your Cart!</div>
            <button id="{{../sku}}"type="button" class="btn btn-light-green btn-grid-add-to-cart">Add to Cart</button>
       </div>
      
      <div class="product-wishlist">
           <div id="message-{{../sku}}" class="alert alert-add-to-cart" style="display: none;">Item added to your WishList!</div>
            <button data-skuid="{{../sku}}" class="btn btn-add-wishlist btn-wishlist">Add to Wishlist +</button>
            <div class="add-to-shelf btn">
                 <select data-prodid="{{../id}}" data-wishsku="{{../sku}}" class="requisition-list-select closed">
                      <option>Add to Shelves +</option>

                 </select>
            </div>
       </div>
      {{/priceCheck}}
{{/if}}
       </div>
    
       {{/items}}
      

</div>