<body>
<!-- Body text here -->
<main id="test-home" class="main-content-container">
<!-- bread crumb start-->
 <sly data-sly-resource="${'breadcrumb' @ resourceType='frontierwholesales/components/content/breadcrumb'}" data-sly-unwrap></sly> 
<!-- bread crum end -->
<article class="article-full-width-banner article-community">
<div class="banner-holder-full-width">
<div class="container clearfix intro-container">
	<div class="page__par" data-sly-resource="${ @path='par-page-header',resourceType='/libs/foundation/components/iparsys'}"></div>
	<div class="page__par" data-sly-resource="par">
</div>
</div>
</article>
</main>
</body>