<body>
<!-- Body text here -->
<main id="test-home" class="main-content-container">
<!-- bread crumb start-->
 <sly data-sly-resource="${'breadcrumb' @ resourceType='frontierwholesales/components/content/breadcrumb'}" data-sly-unwrap></sly> 
<!-- bread crum end -->
<article class="article-full-width-banner article-community">
<div class="banner-holder-full-width">

<div class="content-page-banner" data-sly-resource="${'banner-image' @ resourceType='foundation/components/parsys'}"></div> 

                         <div class="container clearfix intro-container">
                              <div class="banner-intro-holder">
							   <!-- <h2 class="banner-intro-heading">Intro Heading If Needed!</h2> -->   	
                                   <sly data-sly-resource="${'banner-text' @ resourceType='foundation/components/parsys'}"></sly>
                              </div>
                         </div>
                    </div>
               </article>
<section>
<div class="container">
</div>
</section>
</main>
</body>