<sly data-sly-use.url="../../../global-useapi/serverurl.js"></sly>

<script>
  	var serverURL = "${url.server @ context='html'}";

    function forgotpwdIframeLoaded() {
        var iFrameID = document.getElementById('magento-forgotpwd-iframe');
        if(iFrameID) {
            iFrameID.height = "";
            iFrameID.height = iFrameID.contentWindow.document.body.scrollHeight + "px";
        }   
    }
    window.addEventListener('resize', function(event){
        forgotpwdIframeLoaded();
    });

</script>
<div class="magento-iframe-container">
	<iframe id="magento-forgotpwd-iframe" onload="forgotpwdIframeLoaded()" frameborder="0" scrolling="auto" class="fullwidth"></iframe>
</div>