<aside class="content-page-form">

     <h3 class="inquiry-title">Have a question?</h3>
     <p class="inquiry-copy">If you need help navigating or ordering from this site, you can call Online Customer Assistance during business hours Monday through Friday, 7am - 6pm Central Time at 1-800-669-3275.</p>

     <form method="post" id="inquiry-form">
          <div class="form-group">
               <label for="id_name">Name</label>
               <input id="id_name" class="form-control" maxlength="150" name="name" type="text">
          </div>
          
          <div class="form-group">
               <label for="id_email">Email</label>
               <input id="id_email" class="form-control" name="email" type="email">
          </div>
          
          <div class="form-group">
               <label for="id_question">Question</label>
               <textarea cols="40" id="id_question" class="form-control" name="question" rows="10"></textarea>
          </div>
          <div class="form-group button-holder">
               <button class="btn btn-light-green btn-inquiry-form-submit">Submit</button>
          </div>
     </form>
</aside>