<header id="header">
        <div id="logo-header">
          <a href="/" class="logo-link" title="Frontier Co-op Wholesale">
               <span class="logo-icon-header">
                    <img src="https://dh6qdiyp93d9u.cloudfront.net/static/frontierwholesale/images/logo.6694741e49f1.svg">
                    <span class="visuallyhidden">Frontier Co-op Wholesale</span>
               </span>
               <span class="logo-text" aria-hidden="">Wholesale Store</span>
          </a>
     </div>
     <div id="search-header-holder">
          <form action="" class="search-form form" id="search-form">
               <input class="form-control search-input" placeholder="Search &amp; Save..." name="q" autocomplete="off" type="text">
               <button class="btn btn-green-dark" id="btn-search">Search</button>
          </form>
     </div>
     
     <div id="secondary-nav-holder">
          <ul class="user-menu">
               <li><a href="#">Quick Order</a></li>
               <li><a href="#">Help</a></li>
               <li><a href="/content/frontierwholesales/en/membership.html">Join</a></li>
              
               <li>
                  
                   <sly data-sly-test="${currentSession.userID == 'anonymous'}">
                    <a href="/content/frontierwholesales/en/login.html">My Account</a>
                   </sly>
                   
                   <sly data-sly-test="${currentSession.userID != 'anonymous'}">
                       <a href="#">My Account</a>
                   </sly>
              
              </li>
          </ul>

     </div>

     
     <div id="cart-holder">
          <a href="#" class="btn btn-cart-display cart-display" title="Cart">
               <span class="icon-cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="cart-count quantity">0</span>
               </span>
               <span class="cart-amount">My Total: <span class="amount">$0.00</span></span>
          </a>
     </div>
        <div id="right-header-icons-mobile">
          <a href="#" id="mobile-account-icon" class="header-mobile-icon">
               <span class="glyphicon glyphicon-user"></span>
               <span class="visuallyhidden">Account</span>
          </a>
          <a id="mobile-cart-icon" href="#" class="header-mobile-icon">
               <span class="icon-cart">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="cart-count quantity">0</span>
               </span>
               <span class="visuallyhidden">Cart</span>
          </a>
     </div>
    </header>