<sly data-sly-use.user="${'com.frontierwholesales.core.models.SessionModel'}"></sly>
<!-- footer component -->
     <div class="container">
          <div id="logo-footer">
               <a href="/" class="logo-link-footer" title="Frontier Co-op Wholesale">
                    <span class="logo-icon-footer">
                         <span class="visuallyhidden">Frontier Co-op Wholesale</span>
                    </span>
               </a>
          </div>
          <div id="nav-footer">
               <div class="nav-footer-column">
                    <div class="footer-heading">Help</div>
                    <ul class="navfooter-submenu">
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/quickorder.html" class="navfooter-link">Quick Order</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#"  class="navfooter-link">Contact Us</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/returnanitem.html"  class="navfooter-link">Return an Item</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/shipping-policy.html"  class="navfooter-link">Shipping Policy</a>
                         </li>
                         
                         <li class="navfooter-subitem">
                              <a href="/content/dam/frontierwholesales/pdfs/w-9-20-e154.pdf" class="navfooter-link" target="_blank" rel="noopener noreferrer">W-9</a>
                         </li>

                    
                         <li class="navfooter-subitem">
                              <a href="/content/dam/frontierwholesales/pdfs/membership-sale-tax-uniform-exemption-19-d1f5.pdf" class="navfooter-link" target="_blank" rel="noopener noreferrer">Sales Tax Uniform Exemption Form</a>
                         </li>         
                    </ul>
               </div>

               <div class="nav-footer-column">
                    <div class="footer-heading">Info and Resources</div>
                    <ul class="navfooter-submenu">
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/faq.html" class="navfooter-link">FAQs</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/minimum-advertised-price-policies.html" class="navfooter-link">Minimum Advertised Price Policies</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/glossary.html" class="navfooter-link">Glossary</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/retailerresources.html" class="navfooter-link">Retail Resources</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/datafeeds.html" class="navfooter-link">Data Feeds</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/currentcatalog.html" class="navfooter-link">Current Catalogs</a>
                         </li> 
                         <li class="navfooter-subitem">
                              <a href="http://susttainability.frontiercoop.com/" class="navfooter-link">Sustainability Report</a>
                         </li> 
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/startabuyingclub.html" class="navfooter-link">Start A Buying Club</a>
                         </li> 
                    </ul>
               </div>

               <div class="nav-footer-column last">
                    <div class="footer-heading">Community</div>
                    <ul class="navfooter-submenu">
                         <li class="navfooter-subitem">
                              <sly data-sly-test="${user.authToken == null}">
                                 <a href="/content/frontierwholesales/en/login.html" class="navfooter-link">My Account</a>
                             </sly>
                              <sly data-sly-test="${user.authToken != null}">
                                  <a href="/content/frontierwholesales/en/myaccount.html" class="navfooter-link">My Account</a>
                             </sly>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/membership.html" class="navfooter-link">Co-op Membership</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="https://careers-frontiercoop.icims.com/jobs" class="navfooter-link">Careers</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/blog.html" class="navfooter-link">Blog</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/boardofdirectors.html" class="navfooter-link">Board of Directors</a>
                         </li> 
                    </ul>
               </div>
          </div>
     </div>
     <div id="sub-footer">
          <small class="foot-notes">
               <span class="copyright">© ${user.year} Frontier Co-op Wholesale.</span>
               <span class="copyright">All Rights Reserved.</span>
               <div class="sub-footer-links">
                    <a href="/content/frontierwholesales/en/privacypolicy.html" class="footnotes-link">Privacy Policy</a>
                    <a href="/content/frontierwholesales/en/termsandconditions.html" class="footnotes-link second">Terms &amp; Conditions</a>
               </div>
          </small>
     </div>
<!-- footer component -->