<footer id="footer">
     <div class="container">
          <div id="logo-footer">
               <a href="/" class="logo-link-footer" title="Frontier Co-op Wholesale">
                    <span class="logo-icon-footer">
                         <span class="visuallyhidden">Frontier Co-op Wholesale</span>
                    </span>
               </a>
          </div>
          <div id="nav-footer">
               <div class="nav-footer-column">
                    <div class="footer-heading">Help</div>
                    <ul class="navfooter-submenu">
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Quick Order</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#"  class="navfooter-link">Contact Us</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#"  class="navfooter-link">Return an Item</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#"  class="navfooter-link">Shipping Policy</a>
                         </li>
                         
                         <li class="navfooter-subitem">
                              <a href="/content/dam/frontierwholesales/pdfs/w-9-20-e154.pdf" class="navfooter-link" target="_blank" rel="noopener noreferrer">W-9</a>
                         </li>

                    
                         <li class="navfooter-subitem">
                              <a href="/content/dam/frontierwholesales/pdfs/membership-sale-tax-uniform-exemption-19-d1f5.pdf" class="navfooter-link" target="_blank" rel="noopener noreferrer">Sales Tax Uniform Exemption Form</a>
                         </li>         
                    </ul>
               </div>

               <div class="nav-footer-column">
                    <div class="footer-heading">Info and Resources</div>
                    <ul class="navfooter-submenu">
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">FAQs</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/minimum-advertised-price-policies.html" class="navfooter-link">Minimum Advertised Price Policies</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="/content/frontierwholesales/en/glossary.html" class="navfooter-link">Glossary</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Retail Resources</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Data Feeds</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Current Catalogs</a>
                         </li>  
                    </ul>
               </div>

               <div class="nav-footer-column last">
                    <div class="footer-heading">Community</div>
                    <ul class="navfooter-submenu">
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">My Account</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Coop Membership</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Careers</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Blog</a>
                         </li>
                         <li class="navfooter-subitem">
                              <a href="#" class="navfooter-link">Board of Directors</a>
                         </li> 
                    </ul>
               </div>
          </div>
     </div>
     <div id="sub-footer">
          <small class="foot-notes">
               <span class="copyright">© 2018 Frontier Co-op Wholesale.</span>
               <span class="copyright">All Rights Reserved.</span>
               <div class="sub-footer-links">
                    <a href="/privacy/" class="footnotes-link">Privacy Policy</a>
                    <a href="/terms/" class="footnotes-link second">Terms &amp; Conditions</a>
               </div>
          </small>
     </div>
</footer>