<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-call="${clientlib.js @ categories='frontier-search-facets'}" data-sly-unwrap/>
<sly data-sly-use.searchFacets="com.frontierwholesales.core.magento.services.models.SearchFacets"></sly>
<aside id="plp-search-left-nav-filters" data-sly-list="${searchFacets.facets}">
    <div class="each-filter-section">
		<sly data-sly-test="${item.frontend_input != 'text'}">
	        <h2 class="filter-heading"><label for="id_${item.attribute_code}">${item.default_frontend_label}</label></h2>
	        <select id="id_${item.attribute_code}" class="form-control" name="${item.attribute_code}" data-sly-list.option="${item.options}">
	        	<sly data-sly-test="${option.value != '' && optionList.first}">
	        		<option data-attr-id="" value=""></option>
	        	</sly>
	        	<option data-attr-id="${option.value}" value="${option.value}">${option.label}</option>
	        </select>
		</sly>
		<sly data-sly-test="${item.frontend_input == 'text'}">
			<h2 class="filter-heading"><label for="id_${item.attribute_code}">${item.default_frontend_label}</label></h2>
	        <input type="text" name="${item.attribute_code}"/>
		</sly>
    </div>
</aside>

