<!--<sly
    data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-call="${clientlib.js @ categories='order'}" data-sly-unwrap/>

 <sly data-sly-use.url="../../../global-useapi/serverurl.js"></sly>
<script>
  var serverURL = "${url.server @ context='html'}";
</script>

<script type="text/ng-template" id="/orderhome.html" data-sly-include="orderhome.html"></script>

<script type="text/ng-template" id="/shippinghome.html" data-sly-include="shippinghome.html"></script>

<script type="text/ng-template" id="/paymenthome.html" data-sly-include="paymenthome.html"></script>

<div ng-view></div>-->

<section data-sly-include="apps/frontierwholesales/components/content/myaccount/orders-pending"></section>


