<div class="content-page-banner">
     <div class="banner-image-section">
			<div class="banner-image">
				<img data-sly-use.image="image.js" src="${image.src}" alt="${image.alt}" class="${image.cssClass} img-responsive ${wcmmode.edit ? 'image-edit-placeholder' : ''}"
    			data-emptytext="Image"
    			title="${image.title}" />
            </div>        
            <div class="banner-headline-holder">
            	<p data-sly-element=${properties.type} class="banner-sub-text">${properties.jcr:subtitle}</p>
            	<h1 data-sly-element=${properties.type} class="banner-headline">${properties.jcr:htitle}</h1>
            </div> 
	</div>
</div>
