<!--/**/-->
<div data-sly-test="${wcmmode.edit}" style='clear:both'></div>
<sly data-sly-use.banner="banner.js"
     data-sly-use.emptyRenderer="emptybanner.html"
     data-sly-call="${emptyRenderer.emptyBannerTemplate @ banner=banner}" />

<div class="content-page-banner">
    <div class="banner-image-section">
				<div class="banner-image"
                data-sly-test="${banner.hasContent}"
                data-sly-resource="${'image' @ resourceType='wcm/foundation/components/image', wcmmode='disabled'}"
                >
					<img
            		data-sly-use.banner="banner.js"
                    src="${banner.src}"
                    alt="${banner.alt}"/>
				</div>
                <div class="banner-headline-holder" data-sly-test="${banner.hasContent}">
                                   <p data-sly-element=${properties.type} class="banner-sub-text">${properties.jcr:subtitle}</p>
                                   <h1 data-sly-element=${properties.type} class="banner-headline">${properties.jcr:title}</h1>
                </div>    
		</div>
</div>
