<sly
    data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
    data-sly-call="${clientLib.all @ categories='login'}" data-sly-unwrap/>


 <sly data-sly-use.url="../../../global-useapi/serverurl.js"></sly>
<input type="hidden" id="serverURL" value="${url.server}">
<section class="login-section">
                    <div class="container">
                         
                         <div class="return-customer-section">
                              <h2 class="heading-login-page">Login</h2>
                              
                              <p class="standard-text">Welcome back! Please sign in using your email address and password below.</p>

                              <form id="login-form"  class="form-section-start" method="POST">
                                  <div class="error-text login-text">Please enter a correct email or user name and password. Note that password is case-sensitive.</div>
                                   <div class="form-group">
                                        <label for="id_username" class="hidden">Email address (or user name):</label>
                                        <input id="id_username" class="form-control" maxlength="254" name="username" type="text" placeholder="Email address (or user name)">
                                       <div class="error-text userid-text">This field is required.</div>
                                   </div>
                                   
                                   <div class="form-group">
                                        <label for="id_password" class="hidden">Password:</label>
                                        <input id="id_password" class="form-control" name="password" type="password" placeholder="Password">
                                         <div class="error-text password-text">This field is required.</div>
                                   </div>
                                   <div class="form-group button-holder">
                                       <button  class="btn btn-light-green btn-account-form" id="btn-login" value="Sign In">Sign In</button>
                                   </div>
                                   <small class="login-forgot-password small-form-element">
                                        <a href="#" class="login-password-link">Forgot password?</a>
                                   </small>
                                   <div id='errordiv'></div>
                                  <span><input type='hidden' id='url' value='${pageProperties.homePagePath}/j_security_check'/></span>
                              </form>
                              
                         </div>
                         
                         <div class="new-customer-section">
                              <h2 class="heading-login-page">New Customer</h2>
                              <p class="standard-text">Create an account to check out faster in the future and receive emails about your orders, new products, events and special offers!</p>
                              <div class="form-group">
                                   <a href="/content/frontierwholesales/en/membership.html" class="btn btn-light-green btn-account-form">Create Account</a>
                              </div>
                         </div>
                    </div>
               </section>

