<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.css @ categories='frontier.structure.productdetails'}" />
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientlib.js @ categories='frontier.structure.productdetails'}" />   
<input id="productId" type=hidden value="${request.requestParameterMap['sku'][0].toString}"/>
<input id="currentPagePath" type=hidden value="${currentPage.path}"/>



<input id="summaryAttribute" type="hidden" value="${properties.summaryAttribute}"/>
<input id="infoAttribute" type="hidden" value="${properties.infoAttribute}"/>
<input id="additionalAttribute" type="hidden" value="${properties.additionalAttribute}"/>
<sly data-sly-use.user="${'com.frontierwholesales.core.models.SessionModel'}"></sly>
<!-- /*<sly data-sly-test.user="${currentSession.userID}" />  */-->
<div data-sly-test="${!request.requestParameterMap['sku'][0].toString}">No product SKU provided in request</div>
<sly data-sly-test="${request.requestParameterMap['sku'][0].toString}">
<div data-sly-test="${wcmmode.edit && !model.hasVariants}" class="cq-placeholder"
         data-emptytext="Product Component"></div>
       
<section id="product-detail">      
</section>                             
<script id="productDetailsTemplate" type="text/x-handlebars-template" >
    <div class="container" >
		<div id="product-images">
              <div id="product-thumbnails">
                                   <button type="button" class="each-thumbnail active" data-mainimageswitch="/content/dam/magento2/product{{imgPath}}">
                                        <img src="/content/dam/magento2/product{{thumbnail}}"/>
                                   </button>
                                   <button type="button" class="each-thumbnail" data-mainimageswitch="/content/dam/magento2/product{{imgPath}}">
                                        <img src="/content/dam/magento2/product{{thumbnail}}"/>
                                   </button>
                                   <button type="button" class="each-thumbnail" data-mainimageswitch="/content/dam/magento2/product/m/t/mt01-gray_main.jpg">
                                        <img src="/content/dam/magento2/product/m/t/mt01-gray_main.jpg"/>
                                   </button>
              </div>
              <div id="product-main-image">
                                   <span class="badge badge-sale">Sale</span>
                                   <div class="product-main-image-holder">
                                        <img alt="Image Title" src="/content/dam/magento2/product{{imgPath}}" class="img-responsive" />
                                   </div>
              </div>
        </div>
        <div id="product-information">
			<div class="product-sku-number">
				<span class="we-Product-code">Item #: <span>{{sku}}</span>
                </span>
			</div>
            <h1 class="product-title-name">{{name}}</h1>
			<div class="product-detail-attributes">
                                   {{#if brand.length}}
                                   <span class="dt-label">Brand: </span>
                                   <span class="dd-value brand">
                                        <a href="#" class="dd-value-link">{{brand}}</a>
                                   </span>
                                    {{/if}}
                                   <span class="dt-label">UPC: </span>
                                    
                                   <span class="dd-value upc">{{barcode}}</span>
                                    
                                   
            </div>
			<div class="product-price-summary"> 
                                   <span class="product-sale-price">{{ formattedPrice}}</span> 
                                   <span class="product-now-price">Now {{ formattedPrice}}</span>
                                   <span class="product-save-percent">Save 25%</span>
            </div>
            {{#if extension_attributes.stock_item.is_in_stock}}
                <div class="product-detail-message">Availability: In Stock</div>
            {{else}}
                <div class="product-detail-message">Availability: Out of Stock</div>
            {{/if}}
            <div class="pdp-message-holder">
                <div class="alert alert-danger" role="alert"> 
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    <strong>Restricted Shipping Item:</strong> Some type of message that explains the situation.
                </div>
                <div class="alert alert-bulk" role="alert">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <strong>Buy 5 to save 5%:</strong> Discount price will display in cart.
                </div>
            </div>
             {{#if ${user.authToken != null @context='scriptString' }}}
            <div class="product-wishlist">
                <button class="btn btn-add-wishlist btn-wishlist">Add to Wishlist +</button>
                <button class="btn btn-add-wishlist btn-shelve">Add to Shelves +</button>
            </div>

			<!--/* TODO: Build valid form action and items */-->
			<div>
                <input type="hidden" name="redirect" v-model="product.pagePath" data-sly-attribute="${hapiProductForm.itemprop.redirectPath}" />
                <input type="hidden" name="redirect-product-not-found" v-model="product.pagePath" data-sly-attribute="${hapiProductForm.itemprop.redirectErrorPath}" />
                <input type="hidden" name="product-quantity" value="1" data-sly-attribute="${hapiProductForm.itemprop.quantity}" />
                <input type="hidden" name="product-path" v-model="product.path" data-sly-attribute="${hapiProductForm.itemprop.productPath}" />
                <input type="hidden" name=":operation" value="addToSmartList" />
				

				 
				   <div class="product-add-options">
						<div class="qty-holder">
							 <button type="button" class="decrease qty-button qty-down">
								  <span class="decrease-minus">-</span>
								  <span class="visuallyhidden">decrease</span>
							 </button>
							 <input type="text" min="1" max="99" name="quantity" id="product-qty-input" class="grid-product-qty-input qty-input-field" value="1">
							 <button type="button" class="increase qty-button qty-up">
								  <span class="increase-plus">+</span>
								  <span class="visuallyhidden">increase</span>
							 </button>
						</div>
						<div class="add-to-cart-holder">
                            <div id="cartMessage-{{sku}}" class="alert alert-add-to-cart" style="display: none;">Added to your Cart!</div>
							<button id="{{sku}}" class="btn btn-light-green btn-add-to-cart">Add To Cart</button>
						</div>
					</div>
					
			</div>
            {{/if}}
			<!-- /* form end */-->

			<!-- /* TODO: complete description section */-->
            <div class="product-overview">
			   <h2 class="heading-product-overview">Product Summary</h2>
			   <p class="description-product-overview">
					{{description}}
					<!--<a class="description-read-more" href="#">Read More</a>-->
			   </p>
               
			   <ul class="overview-stat-list">
                    {{#each custom_attributes}}
                   {{#getAttrValues attribute_code value @index}}
					<li class="each-stat icon-check">
						 <span class="each-stat-icon">
							  <span class="glyphicon glyphicon-ok"></span>
						 </span>
						 <span class="each-stat-name-text">{{attribute_code}}</span>
					</li>
                   {{/getAttrValues}}
			    {{/each}}
					
			   </ul>
               
		  	</div>
			
			<div class="product-detail-additional-details">
                 {{#custom_attributes}}
                {{#getInfoAttrValues attribute_code value}}
				   <span class="product-detail-overview-item-detail">
						<span class="product-detail-overview-label">{{attribute_code}}</span>
						<span class="product-detail-overview-value">{{value}}</span>
				   </span>
                {{/getInfoAttrValues}}
			     {{/custom_attributes}}
				  
			</div>
            {{#additionalAttrValues features directions ingredients sug_uses pkg_contents safety_info}}
			<div class="product-more-details">
                
				   <h3 class="heading-product-overview">Additional Product Details</h3>
                {{#if features.length}}
                 <div class="each-additional-section">
						<h4 class="additional-heading">Product Features</h4>
						<p class="additional-description">{{features}}</p>
				   </div>
                {{/if}}
                {{#if directions.length}}
				   <div class="each-additional-section">
						<h4 class="additional-heading">Directions</h4>
						<p class="additional-description">{{directions}}</p>
				   </div>
                 {{/if}}
                {{#if ingredients.length}}
                    <div class="each-additional-section">
                        <h4 class="additional-heading">Ingredients</h4>
                        <p class="additional-description">{{ingredients}}</p>
                    </div>
                 {{/if}}
                {{#if sug_uses.length}}
                 <div class="each-additional-section">
                        <h4 class="additional-heading">Suggested Uses</h4>
                        <p class="additional-description">{{sug_uses}}</p>
                    </div>
                 {{/if}}
                {{#if pkg_contents.length}}
                    <div class="each-additional-section">
                        <h4 class="additional-heading">Package Content</h4>
                        <p class="additional-description">{{pkg_contents}}</p>
                    </div>
                 {{/if}}
                {{#if safety_info.length}}
                 <div class="each-additional-section">
                        <h4 class="additional-heading">Safety Information</h4>
                        <p class="additional-description">{{safety_info}}</p>
                    </div>
                {{/if}}
               
            </div>
             {{/additionalAttrValues}}


    </div>
</div>
</script>
</sly>
