<body>
<div data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>
<!-- Body text here -->
<main id="test-home" class="main-content-container">
<!-- <section id="scroller-content"> -->
    <div class="row">
        <div id="homepage-scroller" class="col-md-8">
            <div class="swiper-container">
            </div>
        </div>
        <div id="homepage-right-side" class="col-md-4">
            <div data-sly-resource="${'content-brand-of-the-month' @ resourceType='foundation/components/parsys'}" data-sly-unwrap> </div>
        </div>
    </div>    
<!-- </section> -->
<section class="home-featured-brands">
	<div class="featured-icon-center"></div>
	<div class="container">
		<h2 class="featured-title">Featured Brands</h2>
		<p class="featured-subtext">Learn about the brands that futher our mission of fairness, honesty and quality.</p>
<div class="featured-holder">
			<div data-sly-resource="${'content-featured-brand' @ resourceType='foundation/components/parsys'}" data-sly-unwrap> </div>
</div>
	</div>
</section>
<section class="new-products-specials">
	<div class="container">
		<div data-sly-resource="${'content-text-image' @ resourceType='foundation/components/parsys'}" data-sly-unwrap> </div>
	</div>
</section>
<section class="blog-subscribe">
	<div class="container">

<div class="blog-section">
        <div data-sly-resource="${'content-from-the-blog' @ resourceType='foundation/components/parsys'}" data-sly-unwrap> </div>
</div>
<div class="subscribe-section">
		<div data-sly-resource="${'subscribe-section' @ resourceType='foundation/components/parsys'}" data-sly-unwrap> </div>
</div>
</section>
</main>
</body>
    