.suggestions {
    text-align: center;
    top: 116px;
    font-size: 14px;
    background: #f6f6f6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    left: 0;
	list-style: none;
	position: absolute;
	right: 0;
    z-index: 2;
}

.suggestions li {
    border-bottom: 1px solid #eaeaea;
}

.suggestions a {
    padding-left: 40px;
    padding-right: 40px;
    color: #000;
	display: block;
	position: relative;
    letter-spacing: 0.05rem;
	line-height: 1.3;
	padding: 11px 35px 9px 15px;
    text-indent: 0;
	text-transform: capitalize;
    transition: background-color 0.3s;
}

.suggestions a:hover {
    background: #ececec;
    color: #000;
}