<section class="plp-search-product-grid">
<sly data-sly-use.pList="${'com.frontierwholesales.core.models.ProductListModel'}" data-sly-unwrap/>
<div id="product-grid" class="match-height">
<div data-sly-list.childNode="${pList.products}" data-sly-unwrap> 
   <div class="product-grid-item">
		<a href="#" class="grid-item-link">
		<span class="grid-image-holder">
		<image src="${childNode.imagePath}" />
		</span>
    	
        <span class="grid-product-name">${childNode.description}</span>
        <span class="grid-product-price">${childNode.price}</span>
            </a>
       
       <div class="grid-add-to-cart">
                                             <div class="qty-holder">
                                                  <button type="button" class="decrease qty-button qty-down">
                                                       <span class="decrease-minus">-</span>
                                                       <span class="visuallyhidden">decrease</span>
                                                  </button>
                                                  <input type="text" min="1" max="99" maxlength="2" name="quantity" class="grid-product-qty-input qty-input-field" value="1">
                                                  <button type="button" class="increase qty-button qty-up">
                                                       <span class="increase-plus">+</span>
                                                       <span class="visuallyhidden">increase</span>
                                                  </button>
                                             </div>
                                             <button type="button" class="btn btn-light-green btn-grid-add-to-cart">Add to Cart</button>
                                        </div>
	</div>
	</div>
</div>

</section>