<body>
    <div id="ajax-form-overlay-holder">
     <div class="loader"></div>
</div>
    <header id="header" class="checkout-header">
    <div id="logo-header">
          <a href="./" class="logo-link" title="Frontier Co-op Wholesale">
               <span class="logo-icon-header">
                    <img src="/content/dam/frontierwholesales/images/logo.6694741e49f1.svg">
                    <span class="visuallyhidden">Frontier Co-op Wholesale</span>
               </span>
               <span class="logo-text" aria-hidden="">Wholesale Store</span>
          </a>
     </div>
    </header>
<main class="main-content-container account-section-max-1200">
    <sly data-sly-resource="${'par' @ resourceType='foundation/components/parsys'}" data-sly-unwrap></sly>
</main>
</body>