<!--/**/-->
<div class="row">
    <div class="col-md-12">
        <h4 class="subscribe-header">${properties.jcr:title}</h4>
        <p class="subscribe-text"> ${properties.text @context='html'}</p>
        <form id="newsletter-form" autocomplete="off">
            <input name="email" class="form-control email-input" id="email-input" placeholder="Enter Your Email" required="required" type="email">
            <input class="btn btn-submit-email" id="submit-email" value="${properties.label}" type="submit">
        </form>
        <div class="badge-container">			
            <a href="https://www.instagram.com/frontiercoop/" target="_blank" class="badge badge--social badge--instagram" title="Frontier Co-op Wholesale on Instagram">Instagram</a>
            <a href="https://www.facebook.com/frontiercoop/" target="_blank" class="badge badge--social badge--facebook" title="Frontier Co-op Wholesale on Facebook">Facebook</a>
            <a href="https://twitter.com/FrontierCoop" target="_blank" class="badge badge--social badge--twitter" title="Frontier Co-op Wholesale on Twitter">Twitter</a>
            <a href="https://www.pinterest.com/frontiercoop/" target="_blank" class="badge badge--social badge--pinterest" title="Frontier Co-op Wholesale on Pinterest">Pinterest</a>
        </div>
    </div>
</div>


<!-- ${properties.label} 
-->


