<!DOCTYPE html>
<sly data-sly-use.basicPage="com.frontierwholesales.core.models.BasicPage"/>
<html>

   <title>${basicPage.title}</title>
	<sly data-sly-include="header.html" />
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCKTKRR"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
  <!-- Site Navigation -->
  <sly data-sly-resource="${'navigation' @ resourceType='frontierwholesales/components/content/navigation'}" data-sly-unwrap></sly>   
  <sly data-sly-resource="${'mobile-menu' @ resourceType='frontierwholesales/components/content/navigation/mobile-menu'}" data-sly-unwrap></sly>
  <body>       
    <sly data-sly-include="body.html" />
  </body>

	<sly data-sly-include="footer.html" />

</html>