<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-call="${clientlib.js @ categories='frontier-search-results'}" data-sly-unwrap/>

<sly data-sly-use.result="search.js"></sly>
<sly data-sly-use.user="${'com.frontierwholesales.core.models.SessionModel'}"></sly>

<script>
	var embeddedFrontierSearchResults = ${result.products @ context = "unsafe"};
</script>
<div>

<sly
	data-sly-resource="${'searchFacets' @ resourceType='frontierwholesales/components/content/searchFacets'}"
	data-sly-unwrap></sly>

<section id="plp-search-product-grid">
    <div id="plp-search-header-holder" class="search-header-holder">
        <div id="search-heading">
            <h1 class="plp-search-text-heading">Search Results for: "${ request.requestParameterMap['q'][0].toString }"</h1>
            <span class="showing-number-of-items">
                 Showing <span class="number">28</span> of <span class="number">180</span> Products
            </span>
        </div>
        <div id="search-sort-items">
            <div id="filters-holder">
                <div class="form-group">
                <label for="sortby-type">Filters</label>
                <button type="button" class="btn btn-black btn-filters-plp-search">View Options</button>
                </div>
            </div>
        </div>
    </div>

<div id="productlisttemplate"></div>
                        <script id="productlistTemplate" type="text/x-handlebars-template" >
                        <section id="plp-search-product-grid">
                             

                               
                              <div id="plp-search-header-holder" class="search-header-holder">
                                  
                                 
                                   <div id="search-heading">
                                        <h1 class="plp-search-text-heading">{{categorylist.category.name}}</h1>
                                        <span class="showing-number-of-items">
                                             Showing <span class="number">{{recordsPerPage recsPerPage search_criteria.current_page total_count}}</span> of <span class="number">{{total_count}}</span> Products
                                        </span>
                                   </div>
                              {{#if total_count includedZero=false}}
                                   <div id="search-sort-items">
                                        <div id="filters-holder">
                                             <div class="form-group">
                                                  <label for="sortby-type">Filters</label>
                                                  <button type="button" class="btn btn-black btn-filters-plp-search">View Options</button>
                                             </div>
                                        </div>
                                        <div class="sort-by-holder">
                                             <div class="form-group">
                                                  <label for="sortby-type">Sort By</label>
                                                  <select id="sortBy" name="sortby-type" class="form-control">
                                                       <option value="featured">Featured</option>
                                                       <option value="newproduct">New Arrivals</option>
                                                       <option value="asc">Lowest Price</option>
                                                       <option value="desc">Highest Price</option>
                                                  </select>
                                             </div>
                                        </div>
                                       {{#gt total_count}}
                                        <div class="items-per-page-holder">
                                             <div class="form-group">
                                                  <label for="sortby-items">Items Per Page:</label>
                                                  <select id="itemPerPageSelect" name="sortby-items"  class="form-control">
                                                       <option value="28">28</option>
                                                       <option value="56">56</option>
                                                       <option value="100">100</option>
                                                  </select>
                                             </div>
                                        </div>
                                       {{/gt}}
                                   </div>
                                  {{/if}}
                              </div>

                            
                             
                                <div id="product-grid" class="match-height">
                                  {{#items}}
                                   <div class="product-grid-item" >
                                        <!--<span class="badge badge-sale">Sale</span>-->
                                        <a href="/content/frontierwholesales/en/productdetail.html?sku={{sku}}" class="grid-item-link">
                                             <span class="grid-image-holder">
                                            
                                              <img src="/content/dam/magento2/product{{imgPath}}" alt="Product Name">
                                                  
                                             </span>
                                             <span class="grid-item-number">
                                                  Item # <span class="number">{{sku}}</span>
                                             </span>
                                             <span class="grid-product-name">
                                                  {{name}}
                                             </span>
                                             <span class="grid-product-price">
                                                  <!--<span class="product-sale-price">$5.80</span> -->
                                                  <span class="product-now-price">Now {{ formattedPrice}}</span>
                                             </span>
                                        </a>
                                        {{#if ${user.authToken != null @context='scriptString' }}}
                                       <div class="grid-add-to-cart">
                                             <div class="qty-holder">
                                                  <button type="button" class="decrease qty-button qty-down">
                                                       <span class="decrease-minus">-</span>
                                                       <span class="visuallyhidden">decrease</span>
                                                  </button>
                                                  <input type="text" min="1" max="99" maxlength="2" name="quantity" class="grid-product-qty-input qty-input-field" value="1">
                                                  <button type="button" class="increase qty-button qty-up">
                                                       <span class="increase-plus">+</span>
                                                       <span class="visuallyhidden">increase</span>
                                                  </button>
                                             </div>
                                           <div id="cartMessage-{{sku}}" class="alert alert-add-to-cart" style="display: none;">Added to your Cart!</div>
                                             <button id="{{sku}}"type="button" class="btn btn-light-green btn-grid-add-to-cart">Add to Cart</button>
                                        </div>
                                       
                                       <div class="product-wishlist">
                                             <button class="btn btn-add-wishlist btn-wishlist">Add to Wishlist +</button>
                                             <div class="add-to-shelf btn">
                                                  <select>
                                                       <option>Add to Shelves +</option>
                                                       <option value="shelf1">Shelf 1</option>
                                                       <option value="shelf2">Shelf 2</option>
                                                       <option value="shelf3">Shelf 3</option>
                                                  </select>
                                             </div>
                                        </div>
                                 {{/if}}
                                        </div>
                                        {{/items}}
                                       

                                 </div>

                                  

                             
                             {{#if pageTotal includedZero=false}}
                              <div id="search-pagination">
                                   
                                   <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                             <li>
                                                  <a href="#" class="pagination-previous pagination-arrow disabled" id="previous" aria-label="Previous">
                                                       <span class="glyphicon glyphicon-triangle-left"></span>
                                                  </a>
                                             </li>
                                             <li class="pagination-numbers">
                                               
                                                
                                                  <span class="pag-number">{{search_criteria.current_page}} of {{pageTotal}}</span>
                                                
                                                 
                                             </li>
                                             <li><input id="currentPage" type=hidden value="{{search_criteria.current_page}}">
                                                 <input id="totalPage" type=hidden value="{{pageTotal}}">
                                                  <a href="#" class="pagination-next pagination-arrow" id="next" aria-label="Next">
                                                       <span class="glyphicon glyphicon-triangle-right"></span>
                                                  </a>
                                             </li>
                                        </ul>
                                   </nav>
                                 
                              </div>
                             {{/if}}
                            </script>
    <div id="search-pagination">
	     <nav aria-label="Page navigation">
	          <ul class="pagination">
	               <li>
	                    <a class="pagination-previous pagination-arrow disabled" href="#" aria-label="Previous">
	                         <span class="glyphicon glyphicon-triangle-left"></span>
	                    </a>
	               </li>
	               <li class="pagination-numbers">
	                    <span class="pag-number">1 of 27</span>
	               </li>
	               <li>
	                    <a class="pagination-next pagination-arrow" href="#" aria-label="Next">
	                         <span class="glyphicon glyphicon-triangle-right"></span>
	                    </a>
	               </li>
	          </ul>
	     </nav>
	</div>
</section>
&nbsp;
</div>