<section id="plp-search-product-grid">
	<div id="plp-search-header-holder" class="search-header-holder {{#if items.length}}{{else}}no-border{{/if}}">
		<div id="search-heading">
		{{#if items.length}}
		<h1 class="plp-search-text-heading">SEARCH RESULTS FOR: "{{searchTerm}}"</h1>
		<span class="showing-number-of-items">
			Showing <span class="number">{{numOfResultsStart}} - {{recordsPerPage recsPerPage search_criteria.current_page total_count}}</span> of <span class="number">{{total_count}}</span> Products
		</span>
		{{else}}
		<header class="search-category__header">
			<p class="search-category__info">Sorry, No Results Found For</p>
			<h2 class="search-category__title">"{{searchTerm}}"</h2>
		</header>
		{{/if}}
		</div>
		<div data-sly-unwrap data-sly-include="../sharedHandlebarsTemplates/product-sort.html"></div>
	</div>
	
	<div data-sly-unwrap data-sly-include="../sharedHandlebarsTemplates/product-grid.html"></div>
	<div data-sly-unwrap data-sly-include="../sharedHandlebarsTemplates/product-pagination.html"></div>
</section>