<section id="plp-search-product-grid">
	<div id="plp-search-header-holder" class="search-header-holder">
	     <div id="search-heading">
	          <h1 class="plp-search-text-heading">SEARCH RESULTS FOR: "{{searchTerm}}"</h1>
	          <span class="showing-number-of-items">
	               Showing <span class="number">{{recordsPerPage recsPerPage search_criteria.current_page total_count}}</span> of <span class="number">{{total_count}}</span> Products
	          </span>
	     </div>
		 <div data-sly-unwrap data-sly-include="../sharedHandlebarsTemplates/product-sort.html"></div>
	</div>
	
	<div data-sly-unwrap data-sly-include="../sharedHandlebarsTemplates/product-grid.html"></div>
	<div data-sly-unwrap data-sly-include="../sharedHandlebarsTemplates/product-pagination.html"></div>
</section>