<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>
<sly data-sly-call="${clientlib.js @ categories='frontier-search-results'}" data-sly-unwrap/>
<sly data-sly-call="${clientlib.css @ categories='frontier-search-results'}" data-sly-unwrap/>

<div>
	<sly data-sly-resource="${'searchFacets' @ resourceType='frontierwholesales/components/content/searchFacets'}" data-sly-unwrap></sly>
	
	<div id="productlisttemplate"></div>
	<script data-sly-include="searchResultListTemplate.html" id="productlistTemplate" type="text/x-handlebars-template"></script>
&nbsp;
</div>