<body>
    <div id="ajax-form-overlay-holder">
     <div class="loader"></div>
</div>
<main class="main-content-container help-pages content-page">
    <div class="global-server-side-message-holder" style="display:none;">
                        <div class="alert alert-danger" role="alert"> <strong>Message Alert:</strong> Some type of message that shows errors </div>
                   </div>
<!-- bread crumb start-->
 <sly data-sly-resource="${'breadcrumb' @ resourceType='frontierwholesales/components/content/breadcrumb'}" data-sly-unwrap></sly> 
<!-- bread crum end -->

<article class="article-help-section">
<div class="container">
	<sly data-sly-resource="${'sidenavigation' @ resourceType='frontierwholesales/components/content/navigation/sidenavigation'}" data-sly-unwrap></sly>
	<section class="help-main-content">

	<div class="content-page-information with-form-aside">

		<div class="page__par" data-sly-resource="par">
		
	</div>
	</div>

	</section>
</div>
</article>
</main>
</body>