/* start product listing page / search page */
.product-list-page {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;

    .breakpoint_992({
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 40px;

    });
}